# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lffrdsaxkcdiqdvajuhh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmZnJkc2F4a2NkaXFkdmFqdWhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5ODM1NTgsImV4cCI6MjA3NDU1OTU1OH0.fBaIZ8Dvs0r8h91fdZvZYpcQizzDeVTB4Y8g8tOe2Jk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxmZnJkc2F4a2NkaXFkdmFqdWhoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODk4MzU1OCwiZXhwIjoyMDc0NTU5NTU4fQ.G0mwYZ_ZrWNz7-1o7yvZKwBb7cnqoZRbE-qWCzP0Fkg

# JWT Secret (for custom auth if needed)
JWT_SECRET=+WKS2cU5lWf+IQaSeeBIFwby/3QFx27UKjGPD9oBhC4qj1K+iISqfoB69zDlK7B0wy9N4EonIgKpJ7v0UIVYgw==
